# Environment
.env

# Database
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
venv/
.venv/
env/
.env/

# Packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
